#toa {
	border: 1px solid black;
}

div {
	border: 1px solid black;
}

div#id1 {
	border: 1px solid black;
}

#class1.class2 #id2 {
	border: 1px solid black;
}

#id1, #id2 {
	border: 1px solid black;
}

#id1 {
	border: 1px solid black;
}

#test {
	border: 1px solid black;
}

#pas_bien {
	border: 1px solid black;
}

.class2 {
	border: 1px solid black;
}

#salut {
	border: 1px solid black;
}