{% extends "::base.html.twig" %}

{# body #}
{% block body %}
<div class="body-content">
  {% include "MagiseoSiteBundle:Commons:header.html.twig" %}
  <div class="left-side">
    <div class="logo"></div>
    <div class="intro" style="text-align: center;">
      <div class="intro-left">
        <legend>Connexion</legend>
        {% include "MagiseoUserBundle:Security:login.html.twig" %}
      </div>
    </div>
  </div>
  {% include "MagiseoSiteBundle:Commons:menuRight.html.twig" %}
  {% include "MagiseoSiteBundle:Commons:footer.html.twig" %}
</div>
{% endblock %}
